<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Role</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Role</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/roles/new}">Add New Role</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thread class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thread>
            <tbody>
            <th:block th:each="role : ${listRoles}">
                <tr>
                    <td>[[${role.id}]]</td>
                    <td>[[${role.name}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/roles/edit/'+${role.id}}">Edit</a>
                        <a class="h4" th:href="@{'/roles/delete/'+${role.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>